/* 代码块复制功能CCS样式 */
div.highlight {
	position: relative;
}

div.highlight .copy-button {
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 5px;
    opacity: 0.8;
    background-color: black;
    border: 0px solid gray;
    color: #ffffff;
    transition: all 0.2s ease;
}

div.highlight .copy-button:hover {
	background-color: gray;
    border: 1px solid gray;
	color: #ffffff;
	cursor: pointer;
}